body {
	font-family: 'Oxygen', sans-serif;
}
h1 {
	font-family: 'Chango', cursive;	
	margin-bottom: 15px;
	font-size: 18px;
}
a {
	text-decoration: none;
	color: #009900;
}
a:hover {
	text-decoration: underline;	
}
.main-container {
	width: 260px;
	margin: 10px auto 0 auto;
	background-color: #f9f9f9;
	padding: 30px;
}
.login-page { font-size: 10px; }
.login-page h1 {
	margin-bottom: 40px;
	font-size: 25px;
}
.login-page .field,
.registration-page .field {
	margin-bottom: 20px;
	font-size: 13px;
}
.float-left { float: left; }
.float-right { float: right; }
.clear {
	float: none;
	clear: both;
}
input.form-text,
input.form-button,
select {
	border: 1px solid #999;
    padding: 10px;
}
input.form-text { width: 238px; }
input.form-button { width: 260px; }
select { width: 260px; }
.label {
    margin-bottom: 3px;
    margin-left: 3px;
}
.login-page h1 {
	margin-bottom: 40px;
	font-size: 25px;
}
.description { margin-bottom: 25px; }

.description p {
    font-size: 13px;
    margin-bottom: 10px;
}
.team-auction-page td,
.stats td { font-size: 13px; }
.team-auction-page input.form-text,
.stats input.form-text { width: 15px; }
.team,
.opp { width: 105px; }
.bid {
	width: 30px;
	padding-bottom: 3px;
}
th {
	text-align: left;
	padding-bottom: 3px;
	font-weight: bold;
}
.teams,
.standings,
.stats {
	border: 1px solid #eee;
	background-color: #fff;
	margin-top: 3px;
}
.teams {
	padding: 5px 10px 10px;
	margin-bottom: 15px;
}
.teams th { padding-top: 3px; }
.standings {
	margin-bottom: 20px;
	padding: 5px 10px 10px;
}
.standings .rank { width: 50px; }
.standings .name { width: 145px; }
.standings .balance {
	width: 50px;
	text-align: right;
}
.standings th,
.standings td {
    padding-top: 5px;
}
.status {
    background-color: #DDFFDD;
    border: 1px solid #AAFFAA;
    color: #006600;
    font-size: 13px;
    margin-bottom: 10px;
    padding: 10px;
    width: 240px;
}
.status.error {
    background-color: #FFDDDD;
    border: 1px solid #FFAAAA;
    color: #660000;	
}
.stats .check {
	width: 100px;
	text-align: center;
}
.stats .stat-name { width: 300px; }
.stats .amount {
	width: 40px;
	padding: 5px;
}
.stats .disabled {
	background-color: #999;
	color: #fff;
}
.stats { margin-bottom: 15px; }
.stats input.form-text { text-align: right; }
.purchase-stats-page .remaining {
    font-size: 13px;
    font-weight: bold;
    margin-top: 2px;
}
.purchase-stats-page .scoring-mode { margin-top: 5px; }
.purchase-stats-page .scoring.description {
	display: none;
}
.purchase-stats-page .spacer { margin-bottom: 25px; }
.purchase-stats-page .scoring.description.selected {
	display: block;
	margin-left: 25px;
	padding: 10px;
	font-size: 13px;
	background-color: #ffffcc;
}
.watch-football-page .main-container {
	width: 620px;
}
.hidden { display: none; }
.watch-football-page td,
.watch-football-page th {
	font-size: 13px;
	padding: 5px;
	text-align: right;
}
.watch-football-page td.label,
.watch-football-page th.label { text-align: left; }
.watch-football-page .actual { text-align: center; }
.compare-scoring-methods { margin-bottom: 50px; }
.compare-scoring-methods table { border: 1px solid #999; }
.compare-scoring-methods .odd .yours { background-color: #99ff99; }
.compare-scoring-methods .even .yours { background-color: #66ff66; }
.compare-scoring-methods .odd { background-color: #99ccff; }
.compare-scoring-methods .even { background-color: #6699ff; }
.compare-scoring-methods .stat { width: 220px; }
.compare-scoring-methods .actual,
.compare-scoring-methods .standard,
.compare-scoring-methods .aerial,
.compare-scoring-methods .ground,
.compare-scoring-methods .stingyd,
.compare-scoring-methods .justwin,
.compare-scoring-methods .yours { width: 55px; }
.compare-scoring-methods .standard,
.compare-scoring-methods .aerial,
.compare-scoring-methods .ground,
.compare-scoring-methods .stingyd,
.compare-scoring-methods .justwin { color: #666;}
.total-income th,
.final-scoring th { font-size: 18px; }
.final-scoring table {
	border: 1px solid #f1f1f1;
	background-color: #fff;
}
.final-scoring .player {
	width: 254px;
	text-align: left;
}
.final-scoring .before-salaries,
.final-scoring .salaries,
.final-scoring .after-salaries { width: 100px; }
.final-scoring td.after-salaries { font-size: 18px; }
.watch-football-page .final-scoring td,
.watch-football-page .final-scoring th { padding: 8px; }